<div class="navbar navbar-default navbar-static-top navbar-main" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">site-manger</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li class="visible-xs">
            <a href="#" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
                <span class="sr-only">导航切换</span>
                <i class="fa fa-bars"></i>
            </a>
        </li>
        <li class="dropdown">
          <a href="/logout"><i class="fa fa-sign-out"></i>退出登录</a>
        </li>
        </ul>
</div>
