<aside class="sidebar">
  <ul class="nav nav-stacked">
    <li
    <%if(locals.menu && locals.menu === 'index') {%>class="active"<%}%>>
    <a href="/"><i class="fa fa-dashboard fa-fw"></i>Home</a>
    </li>
    <li class="menu <%if(locals.menu && locals.menu === 'site') {%>active<%}%>">
      <a href="#" class="menu-toggle">
        <i class="fa fa-cogs fa-cloud"></i>站点管理<i class="caret"></i>
      </a>
      <ul class="submenu">
        <% for(let i = 0, len = projects.length; i < len; i++) {%>
        <li
        <%if(locals.proID && locals.proID === projects[i]._id) {%>class="active"<%}%>>
        <a href="/admin/projects/<%= projects[i]._id %>">
          <i class="fa fa-retweet"></i><span><%= projects[i].name %></span>
        </a>
        </li>
        <% } %>
      </ul>
    </li>
  </ul>
</aside>