<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="row">
                    <!--<h4 class="col-md-2"><%= proDtl.name %></h4>-->
                    <div class="col-md-6">
                        <p>服务器节点：
                            <% for(var i = 0; i < servers.length ;i++) { %>
                            <% if(locals.serverID && serverID === servers[i]._id) { %>
                            <span class="label label-default"><%= servers[i].host %></span>
                            <% } else { %>
                            <span class="label">
      <a href="?serverID=<%= servers[i]._id %>"><%= servers[i].host %></a></span>
                            <% } %>
                            <% } %>
                    </div>
                    <div class="col-md-6">
                        <p class="header-info">
                            <input type="hidden" id="status" value="play"/>
                            <button type="button" class="btn btn-primary" id="pause"
                                    onclick="$(this).hide();$('#play').show();$('#status').val('pause'); return;">
                                <i class="fa fa-pause"> 暂停</i>
                            </button>
                            <button type="button" class="btn btn-primary" id="play" style="display:none"
                                    onclick="$(this).hide();$('#pause').show();$('#status').val('play'); return;">
                                <i class="fa fa-play"> 继续</i>
                            </button>
                            <button type="button" class="btn btn-primary" onclick="$('#log').html('')">
                                <i class="fa fa-eraser"> 清空</i>
                            </button>
                            <button type="button" class="btn btn-primary executive" name="pull">
                                <i class="fa fa-download"> git pull </i>
                            </button>
                            <button type="button" class="btn btn-primary executive" name="restart">
                                <i class="fa fa-repeat"> restart </i>
                            </button>
                            <button type="button" class="btn  btn-primary executive" name="npm">
                                <i class="fa fa-road"> npm install </i>
                            </button>
                        </p>
                    </div>
                </div>
                <hr class="no-top-margin">
                <div class="row">
                    <div class="col-md-12 col-sm-10">
  <pre id="log"
       style="background-color:#000; color:#fff; height:850px;overflow-x:hidden;overflow-y:auto; ">
  </pre>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>